.hocStyle {
    width: 200px;
    padding: 12px;
    margin: 12px 0;
    background-color: orange;
    color: white;
    border: 2px solid silver;
}
.hocStyle input {
    background-color: orange;
    color: green;
    border: 2px solid #FFF;
}
.card {
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 8px;
    margin: 6px;
    color: #FFF;
}
.card div > div:first-child {
  font-weight: bolder;
}
.card hr {
    margin: 8px 0;
}
.card:hover {
    -webkit-box-shadow: 7px 7px 22px 0px rgba(128,124,128,1);
    -moz-box-shadow: 7px 7px 22px 0px rgba(128,124,128,1);
    box-shadow: 7px 7px 22px 0px rgba(128,124,128,1);
    cursor: pointer;
}
.male {
    background-color: #536ADF;
}
.female {
    background-color: #AB26CC;
}
.photo {
    padding-right: 6px;
    display: inline;
}
.photo img {
    border-radius: 10px;
    border: 2px solid #FFF;
}
.check {
    width: 42px;
    float:right;
}
.name {
    display: inline;
    font-size: 16px;
}
.email {
    display: inline-block;
}
.info {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    color: #FA0;
}